.pf1.actor.sheet {
  .tab.features {
    .feat-notifications {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 3px;
      flex: 0;
      margin: 2px;
    }

    footer {
      .feat-counts {
        display: flex;
        flex-flow: row nowrap;
        gap: 3px;

        .stats {
          flex: 4;
        }

        .issues {
          flex: var(--issues);
        }
      }
    }
  }
}
