.pf1.action-selector {
  .actions {
    display: flex;
    flex-flow: row wrap;
    gap: 0.4em;

    .action {
      padding: 0.2em;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        background: rgba(155, 155, 155, 0.2);
        span.name {
          text-shadow: 0 0 10px red;
        }
      }

      img {
        width: 96px;
        height: 96px;
        object-fit: cover;
      }

      span {
        text-align: center;
        width: 80px;
      }
    }
  }
}
