.pf1.help-browser {
  min-height: 420px;
  min-width: 720px;

  section.window-content {
    padding: 0;

    a {
      color: var(--color-text-hyperlink);
      text-decoration: underline;
    }

    .articles ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      line-height: 1.5rem;
      column-gap: 1rem;

      > li {
        margin: 0;
      }
    }

    .top-bar {
      padding: 6px;
      flex: 0 0 39px;
      border-bottom: var(--pf1-border-groove);

      > * {
        margin-right: 8px;
      }

      i {
        font-size: var(--font-size-24);
      }
      i.gray {
        color: gray;
      }
    }

    .primary {
      height: calc(100% - 39px);
    }

    .content {
      height: 100%;
      overflow: auto;
      .scrollbar();

      padding-bottom: 32px;
      padding-left: 0.4em;
      padding-right: 0.4em;

      * {
        user-select: text;
      }

      code {
        padding: 0 3px;
        background: var(--pf1-bg-light-1);
        color: var(--color-text-dark-1);
        border: 1px solid var(--color-border-light-secondary);
        border-radius: 3px;
      }

      table {
        width: unset;

        border: 1px solid var(--color-border-light-tertiary);

        th {
          code {
            // Fix Foundry's styling on header code blocks
            text-shadow: 1px 1px var(--color-text-light-2);
          }
        }
        :is(th, td) {
          padding: 0.3em 0.3em;
        }
      }

      img {
        margin-left: 8px;
      }

      h2,
      h3,
      h4,
      h5 {
        margin-top: 1em;
      }
    }
  }
}
